<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
    .button{
      border: none;
      color: white;
      padding: 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
        border-radius: 100%;
    }
    </style>
</head>
<body>

<form name="form" method="post">
    <table>
            <tr>

                <td> <input name="username"  placeholder="username" /> </td>
            </tr>
            <tr>

                <td> <input name="password" placeholder="password" type="password"/> </td>
            </tr>
            <tr>
                <td> <button type="submit" class="button" style="background: {{color}}">Submit</button> </td>
            </tr>
        </table>
    </form>

</body>
</html>

