<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website Title</title>
</head>
<body>
<h1>hello world</h1>
<table style="background: antiquewhite">
    <tr>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>

        <tr>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>

        <tr>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
        <td>whatever</td>
    </tr>
</table>
</body>
</html>