<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website Title</title>
</head>
<body>
    <h1>hello world {{ num }}</h1>

    <table style="background: antiquewhite; width: 90%">
        {% for i in range(m) %}
            <tr>
                {% for j in range(n) %}
                    {% if ((i+1) * (j+1)) % 2 == 0 %}
                    <td style="color: purple"> {{ (i+1) * (j+1) }} </td>
                    {% else %}
                        <td> {{ (i+1) * (j+1) }} </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

</body>
</html>